{% if film_detail %}
  <h1>{{ film_detail.title }}</h1>

  <ul>
    <li>Release Year: {{ film_detail.release_year }}</li>
    <li>Production Company: {{ film_detail.production_company }}</li>
    <li>Distributor: {{ film_detail.distributor }}</li>
    <li>Writer: {{ film_detail.writer }}</li>
    <li>Director: {{ film_detail.director }}</li>
    <li>Actors:
      <ul>
        {% if film_detail.actor_1 %}
          <li>{{ film_detail.actor_1 }}</li>
        {% endif %}
        {% if film_detail.actor_2 %}
          <li>{{ film_detail.actor_2 }}</li>
        {% endif %}
        {% if film_detail.actor_3 %}
          <li>{{ film_detail.actor_3 }}</li>
        {% endif %}
      </ul>
    </li>
    <li>Fun Facts: {{ film_detail.fun_facts }}</li>
  </ul>
{% endif %}


<h4>Film Locations in SF</h4>
{% if film_locations %}
  <ul>
  {% for location in film_locations %}
    <li>{{ location }}</li>
  {% endfor %}
  </ul>
{% else %}
  <blockquote><p>No Locations are available.</p></blockquote>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
